@media only screen and (max-width: 580px) {
    .partyHead {
        color: #fedecd;
        margin-bottom: -10px;
        margin-left: 240px;
        font-family: Georgia, serif;
        font-weight: 300;
        font-size: 25px;
        white-space: nowrap;
    }

    .mobileText {
        margin-left: 160px;
        font-family: fantasy;
        font-size: 18px;
        white-space: nowrap;
    }
}

@media only screen and (min-width: 581px) {
    p#mobileText {
        text-align: center;
        font-family: fantasy;
        font-size: 18px;
    }

    .partyHead {
        color: #fedecd;
        margin-bottom: -10px;
        font-size: 25px;
        font-family: Georgia, serif;
        font-weight: 300;
        text-align: center;
    }
}

@media only screen and (max-width: 767px) {
    /* navbar */
    .col-sm-12 {
        float: none !important;
    }

    #banner {
    margin-top: -50px !important;
    }

    .navbar-default {
        background-color: white;
        border-color: #ac816f !important;
        border-width: 0px;
        border-bottom-width: 3px !important;
    }

    ul.navDecor {
        text-align: center;
        list-style-type: none;
        margin: 0;
        border-top-style: solid;
        border-top-color: #ac816f;
        border-bottom-style: none;
        padding: 0px;
    }

    .navbar-collapse{
        padding: 0px;
    }

    #map {
        display: none;
    }

    #marriott {
        text-align: center !important;
    }

    #detailInfo {
        text-align: center;
    }

}


@media only screen and (max-width: 925px) {
    #banner {
    width: 100% !important;
    height: auto;
    }
}


@media only screen and (min-width: 768px) {

    p#mobileText {
        display: none;
    }

    ul.navDecor {
        text-align: center;
        list-style-type: none;
        margin: 0;
        border-top-style: solid;
        border-top-color: #ac816f;
        border-bottom-style: solid;
        border-bottom-color: #ac816f;
        padding: 0px;
    }

    .imageSize {
        width: 70% !important;
        height: auto;
    }

    .noFloat {
        float: none !important;
        display: inline-block !important;
        margin: auto !important;
    }

    .navbar-header {
        float: none;
    }

    .container-fluid {
        margin: auto;
        display: block;
    }

    #banner {
        display: block;
        margin: auto;
    }

    .navBar {
        color: #fc9a66;
        text-decoration: none;
        text-align: justify;
        letter-spacing: 2px;
        margin: 5px;
    }

    .col-sm-15 {
        width: 20%;
        float: left;
    }

    /* HOTEL */
    #map {
        float: left;
        padding: 0px;
        border-style: solid;
        border-color: #fedecd;
        border-width: 5px;
        margin: 20px;
    }

    #detailInfo {
        margin-left: 25px;
    }
}






@media only screen and (min-width: 1px) and (max-width: 10000px) {
/*WEDDING PARTY*/
.wedParty {
width: 260px;
height: auto;
z-index: -1;
}

.partyTable {
display: block;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.partyDesc {
    position: absolute;
    text-align: center;
    left: 0;
    top: 10%;
    z-index: 2;
    color: white;
    font-size: 16px;
    font-family: serif;
    visibility: hidden;
    padding: 2px;
}

.image-wrapper:hover .wedParty {
    filter:blur(5px) brightness(50%);
}

.image-wrapper:hover .partyDesc {
    visibility: visible;
}

.names {
    font-family: fantasy;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 5px;
    z-index: 5;
}


/*GALLERY*/
.backButton {
width: 80px;
height: 45px;
decoration: none;
background-color: white;
color: #5e5e5e;
font-family: fantasy;
font-size: 20px;
padding: 10px;
margin: 20px;
border: 2px solid #FCC6A9;
border-radius: 2px;
}

.navbar-default {
    background-color: white;
    border-width: 0px;
}

body {
    color: #787878;
    background-color: white;
}

p {
    font-family: "georgia", "serif";
}

li {
    display: inline;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1 {
    font-family: Georgia, serif;
    color: #fc9a66;
    font-weight: 300;
    text-align: center;
    font-size: 150%
}

/*FOOTER*/
.footer {
    background-color: #787878;
    color: white;
    padding: 3px;
    margin-bottom: 20px;
}

#contact {
    color: white;
    text-decoration: none;
}

div.navbar.navbar-static-bottom {
    padding: 0px;
}

/*RANDOM FORMAT*/
#container {
    display: block;
    margin: auto;
    margin: auto;
    text-align: center;
}

#ourstory_img {
    width: 95%;
    height: auto;
    padding: 0;
}

.showGallery {
    position:absolute;
    top: 0;
    z-index: 2;
    color: white;
    width: inherit;
    font-size: 100%;
    font-family: fantasy;
    visibility: hidden;
}

.image-wrapper {
    position: relative;
}

/*PHOTO*/
.photoDefault {
    margin: 10px;
    margin-top: 0px;
    z-index: -1;
    border: 2px solid #ac816f;
}


.image-wrapper:hover .photoDefault {
    filter:blur(5px);
}

.image-wrapper:hover .showGallery {
    visibility: visible;

}

/* COUNTER*/
.clock {
display: block !important;
margin-left: auto !important;
margin-right: auto !important;
text-align: center;
position: relative !important;
padding-top: 0px;
width: 300px !important;
height: auto;
}

/*HOTEL*/
#hotelLink {
    color: #f08f5b;
}

#hotelLink:hover {
    color: #fedecd;
}

.imageSize {
    width: 95%;
    height: auto;
    display: block;
    margin: auto;
}
}

@media only screen and (max-width: 380px) {
    .clockHide {
    display: none;
    }
}

/*Registry*/
#registryText {
    text-align: center;
}

.registryImg {
    display: inline-block;
    width: 35%;
}

#registry {
    text-align: center;
}

.registryLink {
    color: #fc9a66;
}

.registryLink:hover {
    color: #fedecd;
}